In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cookies_test = pd.read_csv("../data/cookies_validate.csv")

In [4]:
cookies_test

,id,sugar to flour ratio,sugar index,bake temp,chill time,calories,density,pH,grams baking soda,bake time,quality,butter type,weight,diameter,mixins,crunch factor,aesthetic appeal
0,14,0.62,19.25,400.0,41.0,172.0,1.00020,7.98,0.67,9.7,0,melted,16.6,7,"nuts, chocolate",1.85,3
1,26,0.35,1.00,520.0,35.0,146.0,0.99300,8.45,0.44,10.0,0,melted,13.8,7,chocolate,1.43,3
2,30,0.39,10.40,440.0,20.0,142.0,0.99740,8.20,0.53,10.0,0,melted,17.0,7,chocolate,1.57,3
3,52,0.33,1.10,570.0,21.0,82.0,0.99100,8.32,0.46,10.9,0,melted,12.4,7,"chocolate, oats",1.44,3
4,100,0.37,13.50,600.0,52.0,192.0,0.99750,8.00,0.44,9.1,0,melted,14.8,7,chocolate,1.51,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,1442,0.02,1.90,780.0,18.0,30.0,0.99712,8.40,0.75,9.8,0,cubed,13.8,7,"nuts, oats, chocolate",1.01,3
775,1445,0.19,5.20,940.0,19.0,98.0,0.99713,8.16,0.52,9.6,0,cubed,14.8,7,"nuts, oats",1.68,3
776,1461,0.00,2.10,600.0,6.0,13.0,0.99664,8.59,0.61,10.0,0,cubed,12.4,7,"nuts, oats",1.38,3
777,1467,0.08,2.30,670.0,19.0,32.0,0.99648,8.52,0.57,11.0,0,cubed,13.4,7,peanut butter,1.63,3
778,1474,0.50,13.80,2050.0,48.0,82.0,1.00242,8.16,0.75,8.8,0,cubed,19.8,7,"nuts,raisins",1.90,3

In [5]:
# getting dummies for one hot encoding, however some columns are named the same
dummie_test = cookies_test['mixins'].str.get_dummies(sep=',')
dummie_test

,chocolate,oats,peanut butter,chocolate,nuts,peanut butter,raisins
0,1,0,0,0,1,0,0
1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0
3,0,1,0,1,0,0,0
4,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
774,1,1,0,0,1,0,0
775,0,1,0,0,1,0,0
776,0,1,0,0,1,0,0
777,0,0,0,0,0,1,0
778,0,0,0,0,1,0,1

In [6]:
#renaming all columns
dummie_test.columns = ["chocolate", "oats", "peanut butter", "chocolate_2", "nuts", "peanut butter_2", "raisins"]

In [7]:
dummie_test

,chocolate,oats,peanut butter,chocolate_2,nuts,peanut butter_2,raisins
0,1,0,0,0,1,0,0
1,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0
3,0,1,0,1,0,0,0
4,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
774,1,1,0,0,1,0,0
775,0,1,0,0,1,0,0
776,0,1,0,0,1,0,0
777,0,0,0,0,0,1,0
778,0,0,0,0,1,0,1

In [8]:
#adding the columns that have the same ingredient
dummie_test["chocolate"] = dummie_test["chocolate"] + dummie_test["chocolate_2"]
dummie_test["peanut butter"] = dummie_test["peanut butter"] + dummie_test["peanut butter_2"]

In [9]:
dummie_test.drop(["chocolate_2", "peanut butter_2"], axis=1, inplace=True)

In [10]:
dummie_test

     chocolate  oats  peanut butter  nuts  raisins
0            1     0              0     1        0
1            1     0              0     0        0
2            1     0              0     0        0
3            1     1              0     0        0
4            1     0              0     0        0
..         ...   ...            ...   ...      ...
774          1     1              0     1        0
775          0     1              0     1        0
776          0     1              0     1        0
777          0     0              1     0        0
778          0     0              0     1        1

[779 rows x 5 columns]

## Adding the new columns to cookies_test dataframe

In [11]:
cookies_test = pd.concat([cookies_test, dummie_test], axis=1)

In [12]:
cookies_test.drop(["id", "mixins"], axis=1, inplace=True)

In [13]:
cookies_test

,sugar to flour ratio,sugar index,bake temp,chill time,calories,density,pH,grams baking soda,bake time,quality,butter type,weight,diameter,crunch factor,aesthetic appeal,chocolate,oats,peanut butter,nuts,raisins
0,0.62,19.25,400.0,41.0,172.0,1.00020,7.98,0.67,9.7,0,melted,16.6,7,1.85,3,1,0,0,1,0
1,0.35,1.00,520.0,35.0,146.0,0.99300,8.45,0.44,10.0,0,melted,13.8,7,1.43,3,1,0,0,0,0
2,0.39,10.40,440.0,20.0,142.0,0.99740,8.20,0.53,10.0,0,melted,17.0,7,1.57,3,1,0,0,0,0
3,0.33,1.10,570.0,21.0,82.0,0.99100,8.32,0.46,10.9,0,melted,12.4,7,1.44,3,1,1,0,0,0
4,0.37,13.50,600.0,52.0,192.0,0.99750,8.00,0.44,9.1,0,melted,14.8,7,1.51,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,0.02,1.90,780.0,18.0,30.0,0.99712,8.40,0.75,9.8,0,cubed,13.8,7,1.01,3,1,1,0,1,0
775,0.19,5.20,940.0,19.0,98.0,0.99713,8.16,0.52,9.6,0,cubed,14.8,7,1.68,3,0,1,0,1,0
776,0.00,2.10,600.0,6.0,13.0,0.99664,8.59,0.61,10.0,0,cubed,12.4,7,1.38,3,0,1,0,1,0
777,0.08,2.30,670.0,19.0,32.0,0.99648,8.52,0.57,11.0,0,cubed,13.4,7,1.63,3,0,0,1,0,0
778,0.50,13.80,2050.0,48.0,82.0,1.00242,8.16,0.75,8.8,0,cubed,19.8,7,1.90,3,0,0,0,1,1

## One hot encoding butter

In [14]:
butter_dummie_test = cookies_test['butter type'].str.get_dummies()

In [15]:
butter_dummie_test

     cubed  melted
0        0       1
1        0       1
2        0       1
3        0       1
4        0       1
..     ...     ...
774      1       0
775      1       0
776      1       0
777      1       0
778      1       0

[779 rows x 2 columns]

In [16]:
cookies_test = pd.concat([cookies_test, butter_dummie_test], axis=1)

In [17]:
cookies_test.head()

,sugar to flour ratio,sugar index,bake temp,chill time,calories,density,pH,grams baking soda,bake time,quality,...,diameter,crunch factor,aesthetic appeal,chocolate,oats,peanut butter,nuts,raisins,cubed,melted
0,0.62,19.25,400.0,41.0,172.0,1.0002,7.98,0.67,9.7,0,...,7,1.85,3,1,0,0,1,0,0,1
1,0.35,1.00,520.0,35.0,146.0,0.9930,8.45,0.44,10.0,0,...,7,1.43,3,1,0,0,0,0,0,1
2,0.39,10.40,440.0,20.0,142.0,0.9974,8.20,0.53,10.0,0,...,7,1.57,3,1,0,0,0,0,0,1
3,0.33,1.10,570.0,21.0,82.0,0.9910,8.32,0.46,10.9,0,...,7,1.44,3,1,1,0,0,0,0,1
4,0.37,13.50,600.0,52.0,192.0,0.9975,8.00,0.44,9.1,0,...,7,1.51,3,1,0,0,0,0,0,1

## finding and dropping nan values

In [18]:
cookies_test.isna().sum()

sugar to flour ratio    0
sugar index             0
bake temp               0
chill time              0
calories                0
density                 0
pH                      0
grams baking soda       0
bake time               0
quality                 0
butter type             0
weight                  0
diameter                0
crunch factor           0
aesthetic appeal        0
chocolate               0
oats                    0
peanut butter           0
nuts                    0
raisins                 0
cubed                   0
melted                  0
dtype: int64

## Heatmap correlation and dropping columns

In [19]:
# samee as in train set, so only drop the values

cookies_test.drop(['diameter'], axis = 1, inplace = True)

In [20]:
cookies_test.drop(['aesthetic appeal'], axis = 1, inplace = True)

In [21]:
cookies_test.drop(['butter type'], axis = 1, inplace = True)

In [22]:
cookies_test.dtypes

sugar to flour ratio    float64
sugar index             float64
bake temp               float64
chill time              float64
calories                float64
density                 float64
pH                      float64
grams baking soda       float64
bake time               float64
quality                   int64
weight                  float64
crunch factor           float64
chocolate                 int64
oats                      int64
peanut butter             int64
nuts                      int64
raisins                   int64
cubed                     int64
melted                    int64
dtype: object

## Two dataframes for comparison

In [ ]:
# first with all columns
# second without density, crunch factor, pH

In [23]:
cookies2_test = cookies_test.copy()

In [24]:
cookies2_test.drop(["density", "crunch factor", "pH"], axis =1, inplace= True)

In [25]:
cookies2_test

,sugar to flour ratio,sugar index,bake temp,chill time,calories,grams baking soda,bake time,quality,weight,chocolate,oats,peanut butter,nuts,raisins,cubed,melted
0,0.62,19.25,400.0,41.0,172.0,0.67,9.7,0,16.6,1,0,0,1,0,0,1
1,0.35,1.00,520.0,35.0,146.0,0.44,10.0,0,13.8,1,0,0,0,0,0,1
2,0.39,10.40,440.0,20.0,142.0,0.53,10.0,0,17.0,1,0,0,0,0,0,1
3,0.33,1.10,570.0,21.0,82.0,0.46,10.9,0,12.4,1,1,0,0,0,0,1
4,0.37,13.50,600.0,52.0,192.0,0.44,9.1,0,14.8,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,0.02,1.90,780.0,18.0,30.0,0.75,9.8,0,13.8,1,1,0,1,0,1,0
775,0.19,5.20,940.0,19.0,98.0,0.52,9.6,0,14.8,0,1,0,1,0,1,0
776,0.00,2.10,600.0,6.0,13.0,0.61,10.0,0,12.4,0,1,0,1,0,1,0
777,0.08,2.30,670.0,19.0,32.0,0.57,11.0,0,13.4,0,0,1,0,0,1,0
778,0.50,13.80,2050.0,48.0,82.0,0.75,8.8,0,19.8,0,0,0,1,1,1,0

In [26]:
cookies3_test = cookies2_test.copy()

In [30]:
cookies3_test.drop(["chocolate", "oats","peanut butter","nuts", "raisins"], axis=1, inplace=True)

KeyError: "['chocolate' 'oats' 'peanut butter' 'nuts' 'raisins'] not found in axis"

In [32]:
cookies3_test.drop(["sugar to flour ratio"], axis=1, inplace=True)

In [33]:
cookies3_test

,sugar index,bake temp,chill time,calories,grams baking soda,bake time,quality,weight,cubed,melted
0,19.25,400.0,41.0,172.0,0.67,9.7,0,16.6,0,1
1,1.00,520.0,35.0,146.0,0.44,10.0,0,13.8,0,1
2,10.40,440.0,20.0,142.0,0.53,10.0,0,17.0,0,1
3,1.10,570.0,21.0,82.0,0.46,10.9,0,12.4,0,1
4,13.50,600.0,52.0,192.0,0.44,9.1,0,14.8,0,1
...,...,...,...,...,...,...,...,...,...,...
774,1.90,780.0,18.0,30.0,0.75,9.8,0,13.8,1,0
775,5.20,940.0,19.0,98.0,0.52,9.6,0,14.8,1,0
776,2.10,600.0,6.0,13.0,0.61,10.0,0,12.4,1,0
777,2.30,670.0,19.0,32.0,0.57,11.0,0,13.4,1,0
778,13.80,2050.0,48.0,82.0,0.75,8.8,0,19.8,1,0

## Exporting dataframes

In [41]:
cookies_test.to_csv("../data/cookies_test_processed.csv")

In [42]:
cookies2_test.to_csv("../data/cookies2_test_processed.csv")

In [36]:
cookies3_test.to_csv("../data/cookies3_test_processed.csv")